includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
    level: 8
    tmpDir: .phpstan.cache
    excludePaths:
        - tests/
    ignoreErrors:
        - '#used zero times and is not analysed#'
