parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between ''  Average\:          '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Cache hits\:       '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Cache misses\:     '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Connected clients…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Events\:           '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Expired keys\:     '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Hit rate\:         '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Keys removed\:     '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Lock contentions\: '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Min / Max\:        '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Miss rate\:        '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  P50\:              '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  P95\:              '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  P99\:              '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Samples\:          '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Total keys\:       '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Total requests\:   '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between ''  Version\:          '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "/" between mixed and 86400 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''average'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''count'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''hit_rate'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''hits'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''keys_removed'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''latency'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''lock_contention'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''max'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''min'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''miss_rate'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''misses'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''p50'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''p95'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''p99'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''redis'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''requests'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''samples'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''stale_cleanup'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''total_keys'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Cannot access offset ''total_requests'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/DebugCommand.php

		-
			message: '#^Binary operation "\." between mixed and ''s'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Binary operation "/" between mixed and 3600 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Binary operation "/" between mixed and 86400 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''connected_clients'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''evicted_keys'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''expired_keys'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''mem_allocator'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''mem_fragmentation_ratio'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''redis_version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''uptime_in_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''used_memory'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''used_memory_peak'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''used_memory_rss'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\Console\\MonitorCacheCommand\:\:scanKeys\(\) should return array\<int, string\> but returns list\.$#'
			identifier: return.type
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Only iterables can be unpacked, mixed given in argument \#2\.$#'
			identifier: argument.unpackNonIterable
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects an array of values castable to string, list given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Part \$pattern \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Console/MonitorCacheCommand.php

		-
			message: '#^Cannot access offset ''used_memory'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/WarmupCommand.php

		-
			message: '#^Cannot access offset ''used_memory_peak'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/WarmupCommand.php

		-
			message: '#^Cannot access offset ''used_memory_rss'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/WarmupCommand.php

		-
			message: '#^Cannot access offset ''connection'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Jobs/InvalidateModelCacheJob.php

		-
			message: '#^Cannot access offset ''custom_indexes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Jobs/InvalidateModelCacheJob.php

		-
			message: '#^Cannot access offset ''indexes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Jobs/InvalidateModelCacheJob.php

		-
			message: '#^Cannot access offset ''sorted'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Jobs/InvalidateModelCacheJob.php

		-
			message: '#^Cannot access offset ''ttl'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Jobs/InvalidateModelCacheJob.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisBaseService\:\:compressLz4\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/RedisBaseService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisBaseService\:\:decompressLz4\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/RedisBaseService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisHelperService\:\:getSet\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/RedisHelperService.php

		-
			message: '#^Cannot access offset ''ttl'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/RedisModelCacheServiceProvider.php

		-
			message: '#^Part \$connection \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 2
			path: src/RedisModelCacheServiceProvider.php

		-
			message: '#^Part \$scanStrategy \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/RedisModelCacheServiceProvider.php

		-
			message: '#^Cannot access offset ''class'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:custom\(\) should return Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> but returns Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Support\\Collection\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:customWhere\(\) should return Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> but returns Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Support\\Collection\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:executePipeline\(\) should return array\<int, mixed\> but returns array\.$#'
			identifier: return.type
			count: 3
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:extractRelations\(\) should return array\<string, array\<int, mixed\>\|null\> but returns array\<array\<mixed\>\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:findByIndex\(\) should return Illuminate\\Database\\Eloquent\\Model\|null but returns Illuminate\\Database\\Eloquent\\Model\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:hydrateIds\(\) should return Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Support\\Collection\<int, string\> but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:rememberIndex\(\) should return Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> but returns Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Support\\Collection\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Method Sm_mE\\RedisModelCache\\RedisModelService\:\:sorted\(\) should return Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> but returns Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Support\\Collection\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects an array of values castable to string, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) expects callable\(mixed, int\|string\)\: array\{class\: string, attributes\: array\<string, mixed\>, relations\: array\<string, mixed\>\}, Closure\(Illuminate\\Database\\Eloquent\\Model\)\: array\{class\: string, attributes\: array\<string, mixed\>, relations\: array\<string, mixed\>\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,mixed\>\:\:map\(\) expects callable\(mixed, int\)\: Illuminate\\Database\\Eloquent\\Model, Closure\(string\)\: Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#1 \$ids of method Sm_mE\\RedisModelCache\\RedisModelService\:\:hydrateIds\(\) expects array\<int, string\>, list given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#1 \$models of method Sm_mE\\RedisModelCache\\RedisModelService\:\:storeMany\(\) expects Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>, Illuminate\\Support\\Collection\<\(int\|string\), mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#2 \$oldData of method Sm_mE\\RedisModelCache\\RedisModelService\:\:computeStaleIndexKeysFromData\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#2 \$oldData of method Sm_mE\\RedisModelCache\\RedisModelService\:\:removeIndexes\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/RedisModelService.php

		-
			message: '#^Parameter \#2 \$relations of method Sm_mE\\RedisModelCache\\RedisModelService\:\:restoreRelations\(\) expects array\<string, array\<int, mixed\>\|null\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/RedisModelService.php

		-
			message: '#^Cannot access offset ''connection'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''custom_indexes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''indexes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''queue'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''sorted'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''strategy'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''ttl'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php

		-
			message: '#^Cannot access offset ''versioned'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Fixtures/DummyModel.php
